@import '../../app.scss';
.index{
   
    padding: 10px;
    box-sizing: border-box;
    .option{
        width: 100%;
        height: 200px;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .bottom-view{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
    .play-view {
      // 主色
      background-color: $secondary;
      color: #333;
        text{
            font-size: 40px;
            font-weight: 700;
        }
        image{
            width: 40px;
            height: 40px;
            margin-left: 5px;
        }
    }
    .add-view{
    // 主色
      color: $primary;
      height: 150px;
      border: 2px solid $primary;
      margin-left: 20px;
        text{
            font-size: 30px;
            font-weight: 600;
        }
        image{
            width: 40px;
            height: 40px;
            margin-left: 5px;
        }
    }
    .create-view{
      // 辅色
      background-color: $primary;
      
      color: white;
      height: 150px;
      
        text{
            font-size: 30px;
            font-weight: 600;
        }
        image{
            width: 40px;
            height: 40px;
            margin-left: 5px;
        }
    }
}